.createEntryButton {
    position: fixed;
    bottom: 6px;
    right: 6px;
    border: 2px solid rgba(100, 149, 237, 0.2);
    background-color: rgba(230, 230, 250, 0.35);
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    transition: background-color 0.4s ease-in-out;
    width: 8%;
    min-width: 60px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 10px;
}

.createEntryButton:hover {
    background-color: rgb(199, 218, 250);
    cursor: pointer;
}

.createEntryButton:active {
    border-color: #9dbeff;
}