.noteEntry {
    margin: 10px 5px;
    padding: 14px;
    border: 2px solid cornflowerblue;
    border-radius: 6px;
    display: flex;
    flex: auto;
    flex-direction: column;
    background: rgba(0,142,255,0.2);
    overflow: auto;
    max-height: 600px;
    transition-property: all;
    box-shadow: 0 2px 8px rgba(59, 61, 66, 0.43);
}

.entryHeader {
    margin-bottom: 10px;
    display: flex;
    flex-shrink: 0;
    flex-basis: max-content;
    justify-content: space-between;
    height: auto;
    min-height: max-content;
}

.entryTitle {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 6px;
    font-size: 18px;
    font-weight: bold;
    font-family: Bahnschrift, sans-serif;
    color: #111f36;
}

.buttonSection {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    word-wrap: normal;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
}

.buttonSection>button {
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    aspect-ratio: 1/1;
    margin-left: 6px;
    border-radius: 4px;
    border-color: rgba(100, 149, 237, 0.26);
    background-color: rgba(157, 190, 255, 0.22);
    transition: background-color 0.4s ease-in-out;
}

.buttonSection>button:hover {
    border-color: rgb(198, 214, 245);
    background-color: rgba(132, 173, 255, 0.51);
}

.saveButton {
}

.saveButton:disabled {
    border-color: rgba(162, 163, 164, 0.17);
    background-color: rgba(172, 172, 176, 0.2);
}

.saveButton:disabled:hover {
    border-color: rgba(162, 163, 164, 0.17);
    background-color: rgba(172, 172, 176, 0.2);
}

.deleteButton {
}

.savedHint {
    align-items: center;
    padding-left: 6px;
    display: inline-flex;
    margin-right: 6px;
    width: auto;
    max-width: 70%;
    height: max-content;
    font-size: 14px;
    color: gray;
    transition: color 0.4s ease-in-out;
}

/* Transition animation setup.*/

.savedHintEnter {
    opacity: 0;
}

.savedHintEnterActive {
    opacity: 1;
    transition: opacity 500ms;
}

.savedHintExit {
    opacity: 1;
}

.savedHintExitActive {
    opacity: 0;
    transition: opacity 500ms;
}

/* Setup end.*/

.noteEntry>* {
    align-self: center;
    display: flex;
    width: 100%;
    height: min-content;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow: auto;
}

.textArea {
    resize: none;
    min-height: 25px;
    max-height: 540px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px;
    white-space: pre-line;
    font-size: 16px;
    font-weight: normal;
    font-family: Bahnschrift, sans-serif;
}

.textArea::placeholder {
    font-family: Bahnschrift, sans-serif;
    font-weight: normal;
}

.displayedEntryContent {
    box-sizing: border-box;
    /* max-height is crucial both here and in textArea: graphical glitches happen without it. */
    max-height: 540px;
    padding: 7px;
    transition: all 0.4s ease-in-out;
    font-size: 16px;
    white-space: break-spaces;
    font-family: Bahnschrift, sans-serif;
}

.displayedEntryContent:hover[aria-disabled="false"] {
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(143, 178, 238, 0.4);
}